{
	email {$ACME_EMAIL}
	on_demand_tls {
		ask {$CADDY_ASK_URL}?token={$CADDY_AUTH_TOKEN}
	}
}

(coop_headers) {
	header {
		defer
		-Cross-Origin-Opener-Policy
		-Cross-Origin-Embedder-Policy
		Cross-Origin-Opener-Policy "same-origin-allow-popups"
		Cross-Origin-Embedder-Policy "unsafe-none"
	}
}

api.scalor.net {
	import coop_headers

	reverse_proxy {$RAILWAY_BACKEND} {
		header_up Host {upstream_hostport}
		header_up X-Forwarded-Host {host}
		header_up X-Real-IP {remote_host}
	}
}

rehoboth-market.scalor.net {
	tls /etc/caddy/certs/scalor.net/fullchain.cer /etc/caddy/certs/scalor.net/scalor.net.key
	redir https://radia.scalor.net{uri} 308
}

*.scalor.net {
	tls /etc/caddy/certs/scalor.net/fullchain.cer /etc/caddy/certs/scalor.net/scalor.net.key

	import coop_headers

	reverse_proxy {$RAILWAY_BACKEND} {
		header_up Host {upstream_hostport}
		header_up X-Forwarded-Host {host}
		header_up X-Real-IP {remote_host}
	}
}

natureafrique.site, www.natureafrique.site {
	import coop_headers

	reverse_proxy https://ecomcookpit.pages.dev {
		header_up Host ecomcookpit.pages.dev
		header_up X-Real-IP {remote_host}
	}
}

https:// {
	tls {
		on_demand
	}

	import coop_headers

	reverse_proxy {$RAILWAY_BACKEND} {
		header_up Host {upstream_hostport}
		header_up X-Forwarded-Host {host}
		header_up X-Real-IP {remote_host}
	}
}
